@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #2c2c2c;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.to_do_list {
  overflow: hidden;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.to_do_list > h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}
.task_field {
  width: 60%;
  height: 50px;
  display: flex;
}
.task_field input {
  border: 2px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 90%;
  padding: 10px;
}
.task_field button {
  width: 70px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  transition: all 0.3s;
}
.task_field button:hover {
  opacity: 0.8;
}
.count {
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  margin-top: 10px;
}
.tasks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
}
.tasks h2 {
  color: white;
  text-transform: capitalize;
}
.buttons {
  display: flex;
}
.task {
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
  animation: slide-in ease 0.5s;
}
@keyframes slide-in {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.uncompleted_task {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #768574;
  border-radius: 8px;
  margin: 0 10px 10px 5px;
  padding: 10px;
}
.completed_task {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(0, 255, 17);
  border-radius: 8px;
  margin: 0 10px 10px 20px;
  padding: 10px;
}
.completed_task input {
  accent-color: rgb(0, 255, 17);
}
input[type="checkbox"] {
  transform: scale(1.6);
  outline: none;
  cursor: pointer;
}

img {
  height: 20px;
  width: 20px;
}
.task__text {
  margin: 0 15px 0 10px;
}

.buttons button {
  background: transparent;
  border: none;
  outline: none;
}
/**/
